.Admin {

    &-container {
        display: flex; 
        width: 800px;  
    }

    &-data, &-users {
        padding: 20px; 
        width: 50%; 

        h3 {
            margin-top: 0; 
        }
    }

    &-user {
        margin-left: 10px; 
        line-height: 0.8; 
        border-bottom: 1px solid black;
        position: relative; 

        &--delete {
            position: absolute; 
            right: 0; 
            top: 0; 
            margin: 0;

            &:hover {
                color: map-get( $colors, 'highlight' );
                cursor: pointer; 
            }
        }
    }
}