button {
    border-radius: map-get( $layout, 'border-radius' );
    padding: map-get( $layout, 'spacing-large' );
    font-weight: map-get( $text, 'weight-heavy' );
    cursor: pointer;
    transition: background 0.1s;
    display: block;
    width: 30%;
    float: right;
    border: 0;
    background: map-get( $colors, 'action' ); 

    h2 {
        margin: 0; 
        color: map-get( $colors, 'text-light' ); 
    }

    .technology & {
        background: map-get( $woact, 'technology' );
    }

    .technology & {
        background: map-get( $woact, 'technology' );
    }

    .technology & {
        background: map-get( $woact, 'technology' );
    }

    .technology & {
        background: map-get( $woact, 'technology' );
    }

    &:hover {
        background: map-get( $colors, 'action-hover' );
    }
}