.Card {
    margin: map-get( $layout, 'spacing-large' ) + 10px; 
    padding: map-get( $layout, 'spacing-large' );
    background: map-get( $colors, 'card' ); 
    width: 450px; 
    display: flex;
    flex-direction: column; 

    &-wrapper {
        display: inline-block;
        margin: 0; 
        padding: 0; 
    }

    &--clickable {
        &:hover {
            cursor: pointer; 
            
            h1, 
            h2 {
                display: inline-block;
                border-bottom: 3px solid black;
            }
        }
    }

    &-container {
        max-width: map-get( $layout, 'content-max-width' ); 
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &-content { 
        color: map-get( $colors, 'text-dark' );
        font-size: map-get( $text, 'size-large');
        font-weight: map-get( $text, 'weight-heavy');
        text-align: center; 
        position: relative;
        z-index: 2;
        width: 100%; 
        padding: map-get( $layout, 'spacing' ); 
    }

    &-header {
        display: flex; 
        justify-content: center; 
        line-height: 1; 
        width: 100%;
        text-align: center; 
        color: map-get( $colors, 'highlight-light' );  
    }

    &-remove {
        font-size: map-get( $text, 'size' ); 
        text-align: right; 
        width: 50%; 
    }

    &-timestamp {
        margin-bottom: map-get( $layout, 'spacing' );
        font-size: map-get( $text, 'size' ); 
        width: 50%; 
        text-align: left; 
    }

    &--answer {
        background: map-get( $colors, 'card-light' ); 
        margin: -(map-get( $layout, 'spacing-large' )); 
        margin-top: map-get( $layout, 'spacing-large' );
        padding: map-get( $layout, 'spacing-large' );
        color: map-get( $colors, 'text-dark' );
        font-weight: map-get( $text, 'weight' );
        font-size: map-get( $text, 'size' ); 
        z-index: 1;
        text-align: left; 
        position: relative;

        &::after {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 12px 16px 12px;
            border-color: transparent transparent white transparent;
            left: 5%;
            top: -16px;
            position: absolute;
        }
    }
}