.Course {

	cursor: pointer; 
	height: 220px;

	&-header {
		height: 80px;  
		display: flex; 
		align-items: center; 
	}

	&-container {
		display: flex; 
		flex-direction: column; 
		align-items: center; 

		button {
			width: 200px; 
		}
	}

	strong {
		font-size: map-get( $text, 'size-x-large' ); 
		font-weight: map-get( $text, 'weight-heavy'); 
	}

	h2 {
		margin: 0 map-get( $layout, 'spacing-large' ); 
		//margin-bottom: map-get( $layout, 'spacing-large' );
		white-space: pre-wrap; 
	}

	p {
		margin: 0 map-get( $layout, 'spacing-large' );  
	}
}