.Course {

	cursor: pointer; 
	height: 200px; 

	&:hover {
		border: 1px solid white;
		box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.2);

		h1 {
			text-decoration: underline; 
			color: map-get( $colors, 'highlight-light' ); 
		}
	}

	&-container {
		max-width: map-get( $layout, 'content-max-width' ); 
		text-align: center; 
	}

	strong {
		color: map-get( $colors, 'highlight-light' ); 
		font-size: map-get( $text, 'size-x-large' ); 
		font-weight: map-get( $text, 'weight-heavy'); 
	}

	h1 {
		font-size: map-get( $text, 'subtitle-size' ); 
		text-align: center; 
		width: 100%; 
		font-weight: map-get( $text, 'weight-heavy' ); 
		letter-spacing: 1px; 
	}
}