.Error {

    padding: 100px; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 

    h1 {
        font-size: 150px; 
        margin: 0; 
        color: map-get( $colors, 'primary' ); 
    }

    p {
        font-size: map-get( $text, 'size-x-large' );
    }
}