.Faculty {
	padding: 50px 0; 
	border: 0; 
	border-radius: 0;
	height: 200px;
	display: flex; 
	align-items: center; 
	justify-content: center;
	width: 350px; 
	margin: map-get( $layout, 'spacing' );  

	&-container {
		padding: ( map-get( $layout, 'spacing-x-large') ) 0px; 
	}

	h2 {
		margin: 20px; 
		text-align: center; 
		font-size: map-get( $text, 'subtitle-size') + 6px; 
	}

	&-communication {
		background: map-get( $woact, 'communication' ) !important; 
	}

	&-technology {
		background: map-get( $woact, 'technology' ) !important; 
	}

	&-management {
		background: map-get( $woact, 'management' ) !important; 
	}

	&-arts {
		background: map-get( $woact, 'arts' ) !important; 
	}

	&-film_tv_games {
		background: map-get( $woact, 'film_tv_games' ) !important; 
	}

	&-other {
		background: map-get( $woact, 'other' ) !important; 
	}
}