footer {
    color: map-get( $colors, 'text-light' );
    font-size: map-get( $text, 'size' );
    font-weight: map-get( $text, 'weight' );
    background: map-get( $colors, 'primary' );
    width: 100%;
    height: 250px;
    padding: map-get( $layout, 'spacing-large') 200px;
    margin-top: map-get( $layout, 'spacing-large');
    display: flex; 
    border-top-style: solid; 
    border-top-width: map-get( $layout, 'spacing');
    @include faculty-color('border-color');

    h3 {
        margin-top: 0;
        
        span {
            display: inline-block;
            border-bottom: 2px solid #999;
        }
    }

    p {
        margin-bottom: 0;
        
        &:first-child {
            margin-top: 0;
        }
    }
}

.Footer-content {
    display: flex;
    flex-direction: column;
    padding-right: 40px;
    font-size: 15px;
}

.Footer-section {
	width: 50%; 
	padding: map-get( $layout, 'spacing' ); 
    display: flex; 
    flex-direction: column; 
}

.Footer-weak {
    color: #999;
}