.Inactive {
	width: 100%; 
	display: flex; 
	align-items: center; 
	justify-content: center;
	flex-direction: column; 
	margin: 20px; 
	
	h2 {
		width: 100%; 
		text-align: center; 
	}

	p {
		font-size: map-get( $text, 'size-x-large' );  
		font-weight: map-get( $text, 'weight-heavy' ); 
		margin-bottom: map-get( $layout, 'spacing-x-large' ); 
	}
}