.Info {
    font-size: map-get( $text, 'size-small' );
    font-weight: map-get( $text, 'weight' );
    padding: map-get( $layout, 'spacing-large' );
    transition: width 1s, height 1s;
    width: 300px; 
    background: white; 
    position: fixed; 
    right: 20px; 
    bottom: 100px; 
    z-index: 2; 
    box-shadow: rgba(black, 0.05) 0px 0px 10px; 
    border-bottom: 3px solid black; 
    border-top: 3px solid black; 
    transition: transform 0.2s; 
    transform-origin: 90% 100% 0; 

    &::after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 16px 10px 0 10px;
        border-color: black transparent transparent transparent;
        bottom: -16px;
        right: 20px;
        position: absolute;
        z-index: 1; 
    }

    h2 {
        margin: 0; 
        text-align: center; 
    }

    &-ask {
        display: flex; 
        flex-direction: column;
        align-items: center; 

        a, 
        p {
           margin: 0; 
        }

        a {
            color: map-get( $woact, 'other' ); 

            &:hover {
                color: map-get( $woact, 'other-light' ); 
            }
        }
    }

    &-hidden {
        transform: scale( 0.0 ); 
    }

    &-button {
        user-select: none; 
        cursor: pointer;
        position: fixed; 
        height: 60px;
        width: 60px;
        border-radius: 50%;
        background: white;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: map-get( $layout, 'spacing-large'); 
        right: map-get( $layout, 'spacing-large');
        transition: color 0.1s, transform 0.1s;
        box-shadow: rgba(black, 0.05) 0px 0px 10px;

        &:hover {
            color: map-get($woact, 'other');
            transform: scale(1.1);
        }

        &-text {
            font-size: 32px;
            font-weight: 800;
        }
    }
}