textarea {
    background: map-get( $colors, 'textarea' ); 
    border-radius: map-get( $layout, 'border-radius' );
    color: map-get( $colors, 'text-dark' );
    border: 0;
    font-family: 'Open Sans', Helvetica, sans-serif;
    line-height: 1.75;
    padding: map-get( $layout, 'spacing-large' );
    font-size: map-get( $text, 'size' );
    font-weight: map-get( $text, 'weight' );
    resize: none; 

    &:focus {
        outline: 0;
    }
}