$woact-colors: (

	'management': #875389, 
	'management-light': #E4C6E6,

	'technology': #42B2CC, 
	'technology-light': #B6E9F1, 

	'arts': #63CC9C, 
	'arts-light': #D8F0E3, 

	'communication': #FFD352, 
	'communication-light': #FFF5B7, 

	'film_tv': #FF5A57,
	'film_tv-light': #FFD2BC
);

$colors: (

	// 'primary': #5489be, 
	// 'primary-dark': #4479ae, 
	// 'primary-light': #89C4F4
	// 'background': #EFF4E4,
	'background': #ecf0f1,

	// 'primary': map-get( $woact-colors, 'technology'), 
	// 'primary-light': map-get( $woact-colors, 'technology-light'), 

	'primary': #34495e, 
	'primary-dark': #2c3e50, 
	'secondary': #bdc3c7,
	'highlight': #f1c40f,

	'action': #2c3e50, 
	'action-hover': #34495e, 

	'info': #2c3e50,

	'text-dark': black, 
	'text-light': white, 
	'textarea': white, 

	// 'card': map-get( $woact-colors, 'technology' ), 
	'card': #34495e,
	'card-light': white
);

$layout: (

	'spacing': 10px, 
	'spacing-large': 20px, 

	'border-radius': 5px,

	'font-size': 14px, 
	'font-size-small': 13px, 
	'font-size-large': 16px
);

$text: (

	'size': 14px, 
	'size-small': 13px, 
	'size-large': 16px
)

