* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: map-get( $text, 'default-font' ); 
    line-height: 1.75;
    margin: 0;

    @include faculty-color('background-color', false, 90%, #ececec);
}

main {
    width: 100%; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

.page-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    margin-bottom: -250px;
}
.page-wrap:after {
    content: "";
    display: block;
}

footer, .page-wrap:after {
    height: 250px;
}