* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: map-get( $text, 'default-font' ); 
    line-height: 1.75;
    margin: 0;

    @include faculty-color('background-color', false, 90%, #ececec);
}

main {
    width: 100%; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}