h1 {
    color: map-get( $colors, 'text-light' );
    width: 50%;
    font-weight: map-get( $text, 'weight' );
    font-size: map-get( $text, 'title-size' );
    line-height: 1.2;
    text-align: center; 

    .small {
        font-size: map-get( $text, 'subtitle-size' );
        font-weight: map-get( $text, 'weight' );
        text-transform: none; 
        margin-bottom: 10px; 
        color: map-get( $colors, 'secondary' ); 
    }
}

h2 {
    font-weight: map-get( $text, 'weight-x-heavy'); 
    font-size: map-get( $text, 'subtitle-size' ); 
    margin: map-get( $layout, 'spacing-large' ) 0 0 0; 
    color: map-get( $colors, 'text-dark'); 
    letter-spacing: 1px; 
    text-transform: uppercase;  
}

a {
    text-decoration: none; 
    color: map-get( $colors, 'link' ); 

    &:hover {
        color: map-get( $colors, 'link-hover');
        cursor: pointer;  
    }
}