h1 {
    color: map-get( $colors, 'text-light' );
    width: 50%;
    text-transform: uppercase;
    font-weight: map-get( $text, 'weight-x-heavy' );;
    font-size: map-get( $text, 'title-size');
    line-height: 1.2;
    text-align: center; 

    .small {
        font-size: map-get( $text, 'subtitle-size');
        font-weight: map-get( $text, 'weight-heavy' );
        text-transform: none; 
        margin-bottom: 10px; 
        color: map-get( $colors, 'secondary' ); 
    }
}

h2 {
    text-transform: uppercase;  
    color: map-get( $colors, 'primary-dark'); 
    font-weight: map-get( $text, 'weight-x-heavy'); 
    font-size: map-get( $text, 'title-size' ); 
    margin: map-get( $layout, 'spacing-large' ) 0 0 0; 
}

a {
    text-decoration: none; 
    color: map-get( $colors, 'link' ); 

    &:hover {
        color: map-get( $colors, 'link-hover'); 
    }
}