p Hello, admin 
.Admin-container
    .Admin-data 
        h3 Om verktøyet  
        p
            strong Antall spørsmål totalt: 
            |  8 
        p
            strong Antall fag totalt:
            |  5
        p
            strong Antall spørsmål over tid 
    .Admin-users
        h3 Registrerte brukere
        .Admin-user 
            strong Kristine Sundt Lorentzen 
            p Teknologifakultetet 
            p Foreleser i Programmering og Wordpress
            p.Admin-user--delete ✕  
