.Course-container(ng-controller = 'CourseController as courseCtrl')
    include components/course_inactive.jade
    include components/course_code.jade
    include components/course_codeInput.jade 
    include components/course_toggleActive.jade
include components/questions.jade