.Card-container.Card-container--courses( ng-controller = 'CoursesController as coursesCtrl' )
	.Card-wrapper( ng-repeat = 'course in coursesCtrl.courses')
		.Card.Card--clickable.Course( ui-sref = "faculty.course( { faculty: siteCtrl.getFaculty(), course: 'a' } )")
			.Card-header.Course-header
				h2 {{ course }}
			.Card-content
				p Det har kommet inn 
					strong 10
					| spørsmål til dette faget 
	.Card-none( ng-show = ' coursesCtrl.courses.length === 0 ' )
		h2 Det er desverre ingen fag her 
		p( ng-show = ' !siteCtrl.loggedIn ') Om du ønsker å bruke denne tjenesten anbefaler vi deg å ta kontakt med din foreleser og sier fra! :)
		p( ng-show = ' siteCtrl.loggedIn ') Om du ønsker å opprette et for ditt fag, så kan du gjøre det ved å trykke på "Registrer nytt fag" på Din Side
