h3 Fag under Teknologiavdelingen
.Card-container 
	.Card-wrapper
		.Card.Card--clickable.Course
			.Card-header.Course-header
				h2 Objektorientert programmering 1 
			.Card-content
				p Det har kommet inn 
					strong 10
					| spørsmål til dette faget 
	.Card-wrapper
		.Card.Card--clickable.Course
			.Card-header.Course-header
				h2 Interaktivt design 2
			.Card-content
				p Det har kommet inn 
					strong 20 
					| spørsmål til dette faget 
	.Card-wrapper
		.Card.Card--clickable.Course
			.Card-header.Course-header
				h2 Mobil apputvikling 3 
			.Card-content
				p Det har kommet inn 
					strong 30
					| spørsmål til dette faget 
	.Card-wrapper
		.Card.Card--clickable.Course
			.Card-header.Course-header
				h2 Sceneskrekk 666 
			.Card-content
				p Det har kommet inn 
					strong 40
					| spørsmål til dette faget