.Card-container.Faculty-container
	.Card.Card--clickable.Faculty.Faculty-communication  
		.Card-header
			h2 Kommunikasjon 

	.Card.Card--clickable.Faculty.Faculty-technology  
		.Card-header
			h2 Teknologi 

	.Card.Card--clickable.Faculty.Faculty-management  
		.Card-header
			h2 Ledelse 

	.Card.Card--clickable.Faculty.Faculty-arts  
		.Card-header
			h2 Kunst 

	.Card.Card--clickable.Faculty.Faculty-film_tv_games   
		.Card-header
			h2 Film, TV og Spill

	.Card.Card--clickable.Faculty.Faculty-other   
		.Card-header
			h2 Spørsmål? 
