.Card-container.Faculty-container( ng-controller = 'FacultiesController as facultiesCtrl')
	.Card.Card--clickable.Faculty.Faculty-communication( ng-repeat = 'faculty in facultiesCtrl.faculties' ng-class = " { '{{ 'Faculty-' +  faculty.faculty }}': true } " ui-sref = 'faculty.show( { faculty: faculty.faculty } )')
		.Card-header
			h2 {{ faculty.name }} 