.Login
    form.Login-form.Input
        h2 Brukernavn 
        textarea( placeholder = 'Skriv inn brukernavn her...' )
        h2 Passord 
        textarea( placeholder = 'Skriv inn passord her...' )
        button.Input-submit( ng-click = 'siteCtrl.logIn() ' )
            h2 Logg inn 
    .Redirect
        p Har du ikke registrert deg enda? 
        a( ui-sref = 'register' ) Registrer deg