.Login
    form.Login-form.Input( ng-submit = 'siteCtrl.logIn()' )
        h2 Brukernavn 
        input( type = 'text' placeholder = 'Skriv inn brukernavn her...' ng-model = 'siteCtrl.credentials.email' )
        h2 Passord 
        input( type = 'password' placeholder = 'Skriv inn passord her...' ng-model = 'siteCtrl.credentials.password' )
        button.Input-submit( type = 'submit' )
            h2 Logg inn 
    .Redirect
        p Har du ikke registrert deg enda? 
        a( ui-sref = 'register' ) Registrer deg