form( ng-submit = 'questionsCtrl.submit()' )
    textarea( ng-model = 'questionsCtrl.newQuestion' placeholder = 'Skriv inn ditt spørsmål...' )
    button( type = 'submit' ) Send inn

.Card-container
    .Card-wrapper( ng-repeat = "question in questionsCtrl.questions | orderBy: '-created_at' " )
        .Card-header
            span.Card-timestamp( am-time-ago = 'question.created_at' )
            span.Card-remove ✕
        .Card {{ question.text }}
        .Card--answer ( ng-show = 'question.answer' ) {{ question.answer }}