.Registration
    form 
        h2 Navn
        p Dette kommer 
            strong ikke 
            |  til å vises på noen spørsmål du stiller 
        textarea( placeholder = 'Skriv inn navnet ditt her... ')
        h2 E-post 
        p Må slutte på westerdals.no
        textarea( placeholder = 'Skriv inn e-posten din her... ')
        h2 Passord
        p Dette trenger ikke å være det samme passordet som på studentkontoren din 
        textarea( placeholder = 'Skriv inn passord her... ')
        h2 Gjennta passord 
        textarea( placeholder = 'Skriv inn passord her... ')
        button 
            h2 Registrer