p Velkommen, Kristine 
button Registrer nytt fag 
h2 Dine fag
.Course-container
	.Card-wrapper.Course
		h1 Objektorientert programmering 1 
		.Card
			p Det har kommet inn 
				strong 10
				| spørsmål til dette faget 
	.Card-wrapper.Course
		h1 Interaktivt design 2
		.Card
			p Det har kommet inn 
				strong 20 
				| spørsmål til dette faget 
	.Card-wrapper.Course
		h1 Mobil apputvikling 3 
		.Card
			p Det har kommet inn 
				strong 30
				| spørsmål til dette faget 
	.Card-wrapper.Course
		h1 Sceneskrekk 666 
		.Card
			p Det har kommet inn 
				strong 40
				| spørsmål til dette faget 