@import 'woact';

$current: map-get( $woact, map-get( $woact, 'current' ) ); 
$current-light: map-get( $woact, map-get( $woact, 'current' ) + '-light' ); 

$colors: (

	background: mix( #ececec, $current, 90% ),
	primary: #282830, 
	highlight: $current,
	highlight-light: $current-light, 
	text-dark: black, 
	text-light: white, 
	textarea: white, 
);

$colors: map-merge( $colors, ( 

	secondary: mix( map-get( $colors, 'primary' ), white, 50% ),
	info: mix( map-get( $colors, 'primary' ), white, 90% ), 
	link: map-get( $colors, 'highlight-light' ),
	link-hover: map-get( $colors, 'highlight' ), 
	action: map-get( $colors, 'primary' ),
	action-hover: mix( map-get( $colors, 'primary'), $current-light, 80% ), 
	card: map-get( $colors, 'highlight' ), 
	card-light: white

) );  