$layout: (

	spacing: 10px,
    spacing-plus: 15px,
	spacing-large: 20px, 
    spacing-x-large: 40px,
	spacing-xx-large: 60px,

	border-radius: 5px,

	font-size: 14px, 
	font-size-small: 13px, 
	font-size-large: 16px, 

	content-max-width: 1200px 
);