$woact: (

	management: #875389, 
	management-light: #E4C6E6,

	technology: #42B2CC, 
	technology-light: #B6E9F1, 

	arts: #63CC9C, 
	arts-light: #D8F0E3, 

	communication: #FFE28C, 
	communication-light: #FFF5B7, 

	film_tv_games: #FF5A57,
	film_tv_games-light: #FFD2BC, 

	other: #CE0039, 
	other-light: #FFC8D4, 

	none: #C0B0B3, 
	none-light: #FFC8D4, 

	current: 'none'
);