button {
    border: 0;
    border-radius: map-get( $layout, 'border-radius' );
    float: right;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: map-get( $text, 'size-large' );
    color: map-get( $colors, 'text-light' );;
    display: block;
    width: 30%;
    padding: 20px 20px;
    font-weight: 700;
    background: map-get( $colors, 'action' );
    cursor: pointer;
    transition: background 0.1s;

    &:hover {
        background: map-get( $colors, 'action-hover' );
    }
}