doctype html
html( ng-app = 'app' )

    head
        title Westerdals FAQ
        include views/settings/stylesheet.jade
        base( href = '/' )

    body( ng-controller = 'SiteController as siteCtrl' )
        include views/components/header.jade
        main( ui-view )
        include views/components/footer.jade
        script( src = 'app.js' )