doctype html
html( ng-app = 'app' ng-cloak)

    head
        title(ng-bind = '$title')
        //title Westerdals FAQ
        include views/imports/stylesheets.jade
        base( href = '/' )

    body( ng-controller = 'SiteController as siteCtrl' )
        include views/components/header.jade
        main( ui-view )
        include views/components/info.jade
        include views/components/footer.jade
        include views/imports/scripts.jade