doctype html
html( ng-app = 'app' ng-cloak ng-class = " colorKey ")

    head
        title Westerdals FAQ v 2.0
        include views/imports/stylesheets.jade
        base( href = '/' )

    body( ng-controller = 'SiteController as siteCtrl')
        //- include views/components/navigation.jade
        include views/components/header.jade
        main( ui-view )
        include views/components/info.jade
        include views/components/footer.jade
        include views/imports/scripts.jade