button.Course-toggle( ng-click = 'courseCtrl.toggleActive()' ng-show = 'siteCtrl.loggedIn' )
	h2( ng-show = ' !courseCtrl.active ') Start forelesning	
	h2( ng-show = ' courseCtrl.active ') Stopp forelesning  	