footer
    .Footer-section
        h3 
            span Info 
        .Footer-content
            p Dette er et verktøy laget for Westerdals Oslo ACT, av Alexander Tømmerås og Kristine Sundt Lorentzen. 
            p.Footer-weak © Copyright 2016 
    .Footer-section 
        h3 
            span Github 
        .Footer-content
            a( href = 'https://github.com/kristine-sl/westerdals-faq' ) Westerdals-faq
            a( href = 'https://github.com/kristine-sl/westerdals-faq-api' ) Westerdals-faq-api
            p.Footer-weak Prosjektet er open source, send en pull request om du vil bidra! 