footer
    .Footer-section
        h3 Info 
        p Dette er et verktøy laget for Westerdals Oslo ACT, av Alexander Tømmerås og Kristine Sundt Lorentzen. 
        p (c) Copyright 2016 
    .Footer-section 
        h3 Github 
        a( href = 'https://github.com/kristine-sl/westerdals-faq' ) Westerdals-faq
        a( href = 'https://github.com/kristine-sl/westerdals-faq-api' ) Westerdals-faq-api
        p Prosjektet er open source, og det er bare å legge inn en pull request om du vil bidra! 