header
	include logo.jade

	.Header-wrapper
		h1
			.small Jeg har et lite spørsmål om…
			span.Title Objektorientert programmering 1

	.Login-link
		a( ng-if = '! siteCtrl.auth.isLoggedIn()' ui-sref = 'login' ) Logg inn
		a( ng-if = 'siteCtrl.auth.isLoggedIn()' ng-click = 'siteCtrl.logOut()' ) Logg ut