header
	include logo.jade

	.Header-wrapper
		h1
			.small Jeg har et lite spørsmål om…
			span.Title Objektorientert programmering 1

	.Login-link
		a( ng-show = '!siteCtrl.loggedIn' ui-sref = 'login' ) Logg inn
		a( ng-show = 'siteCtrl.loggedIn' ng-click = 'siteCtrl.logOut()' ) Logg ut