header
	//- a.Back( href = './' ) ← Gå tilbake

	.Logo( ng-mouseenter = 'siteCtrl.animateLogo()', ng-mouseleave = 'siteCtrl.resetLogo()')
		image( ng-src = 'logo-{{ siteCtrl.currentLogo }}.png')

	.Header-wrapper
		h1
			.small Jeg har et lite spørsmål om…
			span.Title Objektorientert programmering 1

	.Login( ng-click = 'siteCtrl.toggleLoggedIn()')
		a( href = '' ng-show = '!siteCtrl.loggedIn') Logg inn
		a( href = '' ng-show = 'siteCtrl.loggedIn') Logg ut