div( ng-controller = 'InfoController as infoCtrl' ng-hide = '!infoCtrl.info')
    .Info-button( ng-click = 'infoCtrl.toggleInfoActive() ' ) 
        .Info-button-text ?
    .Info( ng-class = "{ 'Info-hidden': !infoCtrl.infoActive }" )
        h2.Info-header Info
        p.Info-content {{ infoCtrl.info }}
        //- .Info-ask 
        //-     p Lurer du fortsatt på noe?
        //-     a( href = '/faq') Gå hit for spørre! 